<template>
  <div class="card">
    <img class="displayed" :src="url" alt="img"/>
    <h4>
      {{ id }}
    </h4>
    <h4>
      {{ title }}
    </h4>
  </div>

</template>

<script>
export default {
  name: "Photos",
  props: {
    title: String,
    url: String,
    id: Number,
  },
}
</script>

<style scoped>
.card {
  width: 100%;
  height: 100%;
  text-align: center;
}
</style>