<template>
  <div class="container_my" id="app">
    <HwVue></HwVue>
  </div>
</template>

<script>

import HwVue from "@/components/HwVue";

export default {
  name: 'App',
  components: {
    HwVue
  }

}
</script>

<style>

body {
  margin: 0;
}

.container_my {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
</style>
